@charset "UTF-8";
/* CSS Document */

body {
	min-height: 100vh;
	margin: 0;
	padding: 5vh 1vw;
	
	background-color: #fdf2e9;
	font-family: Arial, sans-serif;
	color: #00211B;
	
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
}

.container {
	min-width: 90%;
	max-width: 90%;
	padding: 5% 10%;

	background-color: #fdf2e9;
	border-radius: 8px;
	box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
	
	box-sizing: border-box;
}

 .avonova-logo {
	 display: block;
	 margin-bottom: -10px;
}

/*TEXTELEMENT*/

h1, h2, h3 {
	color: #005646;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 1.5em;

}

h3 { 
	font-size: 1em;
}



p {
	line-height: 1.5;
	font-size: 18px;
}

.green {
	color: #005646;
}

/*PUNKTLISTOR*/

ul {
	list-style-type: none;
	padding: 0;
}

ul li {
	display: flex;
	align-items: center;

	font-size: 18px;
	
	margin-bottom: 10px;
	padding-left: 30px; 
	
	background-image: url("images/bullet.png"); 
	background-repeat: no-repeat;
	background-size: 10px 10px;
	background-position: 0 center;
}

.bulletlevel2 {
	margin-top: 15px;
	margin-left: 35px;
	
}


.bulletlevel2 li {
	margin-bottom: 10px;
	display: flex;
	align-items: center;
	background-image: url("images/arrow.png");
	background-repeat: no-repeat;
	background-size: 18px 18px;
	background-position: 0 center;
	padding-left: 30px; /* Justera för att göra plats för ikonen */
	color: #333;
	font-size: 17px;
}

/*BLOCKCITAT*/	

blockquote {
	position: relative;
    padding: 20px 0 10px 50px; /* Utrymme för ikonen */
    margin: 15px 0 15px 20px;
    
	font-size: 17px;
    font-style: italic;
    
    border-left: 5px solid #ff6c62;
    color: #333;
    line-height: 1.6;
}

.quote-icon {
    position: absolute;
    top: 10px;
    left: 20px;
    font-size: 20px;
    color: #005646;
}



/*FORTSÄTTNINGSKNAPP*/	
		
.button-link {
	display: inline-block;
	
	background-color: #00211b;
	padding: 13px 40px;
	
	color: #aff0e5;
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
	
	text-align: center;
	
	border: 2px solid #00211b;
	border-radius: 40px;
	
	cursor: pointer;
	transition: background-color 0.3s ease;	

			
}

.button-link:hover {
	background-color: #aff0e5;
	color: #00211b;
	border: 2px solid #00211b; 
}

 /* CSS för att markera den aktiva knappen */
 .buttons.active {
	background-color: #00866d;
	color: white;
}

/* Pop-up styling */
.popup {
	display: none; /* Börjar som dold */
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	background-color: white;
	padding: 20px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
	z-index: 1000; /* Lägger den över annat innehåll */
	border-radius: 10px;
	width: 90%;
	max-width: 600px;
	max-height: 80vh; /* Sätter maxhöjd för att förhindra att den fyller hela skärmen */
	overflow-y: auto; /* Aktiverar scroll om innehållet är för stort */
	text-align: left; /* Justera all text i pop-up till vänster */
}

.popup-content {
	text-align: left;

}

/* Bakgrundslager för att dimma sidan */
.overlay {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: #fdf2e9;
	z-index: 999;
}

/* Visa pop-up */
.show {
	display: block;
}

/* Stäng-knapp i pop-up */
.close-btn {
	background-color: #fc4b47;
	color: white;
	border: none;
	padding: 5px 10px;
	cursor: pointer;
	border-radius: 5px;
	float: right;
}

.close-btn:hover {
	background-color: #aff0e5;
	color: #00211b;
	border: 1px solid #00211b; 

}

/* Formatering för listan i pop-up */

.popup-content h2 {
	margin-top: 0;
	text-align: left; /* Vänsterjustera rubriken */
}

.popup-content ul {
	padding-left: 0;
	margin-top: 10px;
	display: flex;
	flex-direction: column;
	text-align: left; /* Vänsterjusterar listan */
}

.popup-content ul li {
	margin-bottom: 10px;
	text-align: left; /* Vänsterjusterar list-elementen */
}

.popup-content ul li ul {
	padding-left: 20px; /* Gör underlistan indragen */
	list-style-type: disc;
	margin-top: 5px;
}

.typewriter {
	white-space: nowrap;
	overflow: hidden;
	border-right: 2px solid; /* Den blinkande markören */
	width: 0;
}

